<div class="columns container">
  <div class="column is-one-half"></div>
  <div class="column">
    <a href="https://lp.constantcontactpages.com/su/yK9bE2y/aihelpsukraine">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth">
        Register now!
      </button>
    </a>
	</div>
  <div class="column">
    <a href="https://www.eventbrite.ca/e/ai-help-ukraine-charity-conference-in-person-event-tickets-467191370967">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth">
        Get a ticket for Dec. 8th in person!
      </button>
    </a>
	</div>
  <div class="column is-one-half"></div>
</div>
